
.home-design {
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  
  .home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 40em;
    width: 40em;
    
    border: solid 2px red;
    border-radius: 1em;

    background-color:orange;

  }
  
  .image-logo {
    width: px;
  }

  .image-logo:hover {
    cursor: pointer;
    scale: 1.01;
    transition: 0.2s;
  }

  .btn-play {
    width: 8em;
    height: 2.5em;
    margin-top: 5em;
    background-color: orangered;
    border: solid 2px black;
    border-radius: 1em;
    font-family: 'Bangers';
    font-size: 3em;
    line-height: 2.5em; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none; 
  }
  
  .btn-play:hover{
    cursor: pointer;
    scale: 1.1;
    background-color: greenyellow;
    transition: 0.2s;
    border: solid 2px black;
    color: black;
  }