.home-design {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f8f8;
  }
  
  .home-container {
    text-align: center;
  }
  
  .score {
    font-size: 20px;
    margin-bottom: 10px;
    color: black;
  }
  
  .squares-container {
    display: grid;
    grid-template-columns: repeat(2, 100px);
    gap: 10px;
  }
  
  .square {
    border: solid 2px black;
    width: 100px;
    height: 100px;
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
  }
  
  .square:hover {
    background-color: #ffd700;
  }
  
  .clicked-bomb{
    background-color: red;
}


  .btn-play {
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    display: block;
    margin-top: 20px;
  }
  